body {
  margin: 0;
  background: black;
  color: white;
  font-family: monospace;
}

.post {
  width: 100%;
  position: relative;
}

video {
  width: 100%;
  height: auto;
  display: block;
}

.meta {
  position: absolute;

  top: 12px;
  left: 12px;

  margin: 0;

  z-index: 2;
}

.meta p {
  margin: 0;
}

.meta button {
  margin-top: 8px;
  display: block;
}

.sound-toggle {
  position: absolute;

  bottom: 12px;
  left: 12px;
	
	

  background: rgba(0,0,0,0.6);
  color: white;

  border: 1px solid white;
 border-radius: 999px;

  font-family: monospace;
  font-size: 12px;

  padding: 4px 8px;

  cursor: pointer;

  z-index: 2;
}

img {
  width: 100%;
height: auto;
  display: block;
}

audio {
  position: absolute;

  bottom: 12px;
  left: 12px;

  width: 120px;

  z-index: 2;
}

.site-title {
  position: fixed;

  top: 12px;
  right: -1px;

  background: rgba(0,0,0,0.6);
  color: white;

  border: 1px solid white;

  font-family: monospace;
  font-size: 12px;

  padding: 4px 8px;

  z-index: 999;

  cursor: pointer;
}

.popup-window {
  display: none;

  position: fixed;

  top: 80px;
  left: 28px;
  right: 12px;

  max-height: 75vh;
  overflow-y: auto;

  background: rgba(0,0,0,0.6);
  color: white;

  border: 1px solid white;

  font-family: monospace;
  font-size: 12px;

  padding: 12px;

  z-index: 1000;
}

.popup-titlebar {
  margin-bottom: 12px;

  font-weight: bold;
}

.popup-content {
  line-height: 1.5;
  padding-bottom: 30px;
}


.notes-popup {
  display: none;

  position: fixed;

  top: 50%;
  left: 12px;

  transform: translateY(-50%);

  width: 80%;
  max-width: 500px;

  max-height: 75vh;
  overflow-y: auto;

  background: rgba(0,0,0,0.6);
  color: white;

  border: 1px solid white;

  padding: 12px;

  font-family: monospace;
  font-size: 12px;

  z-index: 9999;
}

.popup-content {
  line-height: 1.5;
  padding-bottom: 20px;
}

.notes-popup.active {
  display: block;
}

.notes-toggle {

  position: absolute;

 	top: 50%;
	left: -1px;

	transform: translateY(-50%);

  background: #FF0000;
  color: white;

  border: 1px solid white;

  font-family: monospace;
  font-size: 12px;

  padding: 4px 8px;

  cursor: pointer;

  z-index: 2;
}

.invert-image {
	filter: invert(1);
}

.notes-close {

	position: absolute;

	top: 8px;
	right: 8px;

	background: rgba(0,0,0,0.6);
	color: white;

	border: 1px solid white;

	font-family: monospace;
	font-size: 12px;

	padding: 2px 6px;

	cursor: pointer;

	z-index: 10000;
}

.popup-close {

	position: absolute;

	top: 8px;
	right: 8px;

	background: rgba(0,0,0,0.6);
	color: white;

	border: 1px solid white;

	font-family: monospace;
	font-size: 12px;

	padding: 2px 6px;

	cursor: pointer;
}

.popup-image {

	max-width: 100%;

	height: auto;

	display: block;

	margin: 0 auto 12px auto;

}

.video-embed {

	width: 100%;
	margin: 12px 0;

}

.video-embed iframe {

	width: 100%;
	height: 240px; /* adjust depending on your popup size */

	border: 0;

}